.nav-link {
  height: 18px;
  text-align: center;
  padding: 8px;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  color: #c2306d;
  background-color: none;
  border-color: #c2306d;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.nav-link:hover, .nav-link.active {
  background-color: #c2306d;
  color: #ffffff;
}
