.nav-link {
    display: block;
    border: 1px #C4C4C4 solid;
    text-decoration: none;
    color:  #C2306D;
    padding: 5px;
    text-transform: capitalize;
}

.nav-link:hover{
    background-color: #C2306D;
    color: #ffffff;
    font-weight: 600; 
} 
