.nav-link{
    height: 45px; 
    border-top: none;
    border: 1px #C4C4C4 solid;
    border-left: none;
    border-right: none;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    color:  #C2306D;
}

.nav-link:hover{
    background-color: #C2306D;
    color: #ffffff;
    font-weight: 600;
    
}
