nav {
    display: flex;
    flex-direction: column;
    width: 28vw;
    border: 1px #C4C4C4 solid;
    height: 80vh;
    justify-self: flex-end;
    
}

nav > span {
    border-bottom: 1px #C4C4C4 solid;
    height: 15%;
}

