.container-proposal {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 320px;
  height: 450px;
  color: #ffffff;
  background: url("../../../assets/img/climateChange.png");
  border-radius: 20px;
  margin: 30px;
}

.container-proposal > .content {
  border-radius: inherit;
  width: 280px;
  height: 430px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.container-proposal-title {
  font-size: 1em;
  font-weight: 600;
  background-color: white;
  color: black;
  width: 140px;
  margin-left: -19px;
  margin-top: -19px;
  height: 25px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 5;
}

.container-proposal-content {
  margin: 12px 0px 18px 0px;
  font-size: 1em;
  text-align: left;
  min-height: 350px;
  /* max-height: 300px; */
}
.container-proposal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.proposal-footer-logo {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.partie-logo {
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  justify-self: flex-start;
  margin: 0px 3px;
}

.social-media-buttons {
  display: flex;
  align-items: center;
}
.alert-green {
  background: rgb(0, 155, 58, 0.9);
}

.alert-red {
  background: rgb(215, 10, 10, 0.85);
}

.no-alert {
  background: rgb(246, 168, 24, 0.9);
}
