footer {
  display: grid;
  width: 100vw;
  grid-template-columns: 25% 35% 25%;
  column-gap: 5%;
  font-size: 15px;
  padding-top: 30px;
  background-color: #c7017f;
  color: #ffffff;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
}

.footer-email {
  height: 20px;
}
.footer-logo {
  height: 50px;
  align-items: center;
}
.footer-logo > img {
  width: 100px;
}

.list-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list-social-links > a {
  display: flex;
  color: #ffffff;
  font-size: 18px;
  flex-direction: row;
  justify-content: space-between;
}

.list-social-links > a:visited {
  color: #ffffff;
}
