.header-categories {
    background: url(../../assets/img/header.png);
    background-size: cover;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

header > span {
    text-transform: capitalize;
    font-size: larger;
    padding: 15px;
}

.menu-btn {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
} 

.menu-btn i {
    position: absolute;
    transition: all 0.3s ease;
    left: 90%;
    bottom: 485px;
    }

.menu-btn i.fa-times {
    opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
}                      

.text-bold{
    font-size: 20px;
    font-weight: bold;
}
.highlighted{
    color: #C2306D;
}

.view-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text{
    text-align: justify;
    width: 85vw;
}
.categories-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 300px;
    top: 70px;
    left: 5%;
}

.sidebar {
    display: none;
    background: #FFFFFF;
    overflow: hidden;
    transition: all 0.3s ease;
}

#btn:checked~.sidebar {
    left: 10px;
    display: block;
}

.sidebar li {
    list-style: none;
    transition: all 0.3s ease;
}

.btn-back{
    background-color: white;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 450px) {
    .menu-btn i {
        left: 92%;
    }

    .wrapper {
        left: 15%;
    }
    }

@media screen and (min-width: 451px) and (max-width: 770px) {
.menu-btn i {
    left: 45%;
}

.wrapper {
    left: 60%;
}
}

@media screen and (min-width: 771px) {
.header-categories {
    background: url(../../assets/img/header.png);
    height: 24vh;
    width: 100vw;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 24vh;
    text-align: center; 
}

header > span {
    text-transform: capitalize;
}
main {
    display: grid;
    grid-template-columns: 70vw 25vw;
    grid-gap: 5vw;
}

.text-bold{
    font-size: 34px;
    font-weight: bold;
}
.highlighted{
    color: #C2306D;
}

.view-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text{
    text-align: justify;
    width: 50vw;
}
.categories-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-btn i {
    display: none;
}

.wrapper {
    position: fixed;
    display: block;
    left: 70%;
    top: 25%;
}

.sidebar {
    display: block;
    border: none;
}

nav {
    display: flex;
    flex-direction: column;
    border: 1px #C4C4C4 solid;
    height: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

nav > span {
    border-bottom: 1px #C4C4C4 solid;
    height: 50px;
}

.btn-back{
    background-color: white;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
}
}