.carousel{
    width: 80vw;
  height: 200px;
  background-color: rgb(131, 184, 185);
}

.horizontalSlider___281Ls{
    width: 80vw;
  height: 200px;
  
}

.slideInner___2mfX9{
  width: 60vw;
  height: 100px;
  background-color: rgb(131, 184, 185);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.buttonBack___1mlaL, .buttonFirst___2rhFr, .buttonLast___2yuh0, .buttonNext___2mOCa, .buttonNext___3Lm3s, .dot___3c3SI {
    width: 40vw;
}