.card {
    display: grid; 
    padding-left: 20%;
    margin-bottom: 15%;
 }

 .sub-card {
    width: 26.5%;
    display: grid;
    position: absolute;
    background: #C7017F;
    color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    margin-top: 196px;
 }

/* EN EDICIÓN */

.show-card{
display: flex;
}
.card-hover {
display: none;
background: rgb(246, 168, 24, 0.7);
padding-left: 20%;
margin-top: 196px;
margin-bottom: 15%;
width: 27%;
border-radius: 0px 0px 20px 20px;
}
