.card-home {
  margin: 15px;
  height: 313px;
  display: flex;
  border-radius: 20px;
}

a {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   text-decoration: none;
   cursor: pointer;
}

/* .card-home > a {
   width: 100%;
   text-decoration: none;
   cursor: pointer;
   align-self: flex-end;
} */

.sub-card-home {
   color: #ffffff;
}

.card-footer {
   height: 100px;
   background: #C7017F;
   border-radius: 0 0 20px 20px;
}

.card-footer > h1 {
   font-weight: 600;
}

@media screen and (min-width: 451px) and (max-width: 770px) {
.card-home {
      margin: 19px;
}

.card-footer > h1 {
   font-weight: 600;
}
}

@media screen and (min-width: 771px) {
.card-home {
   margin: 20px;
   width: 75%
}

.card-footer {
   height: 125px;
}

.card-footer > h1 {
   font-size: 22px;
}

.card-footer > p {
   font-size: 15px;
}
}